.nav-logo {
  width: 3.75rem;
}

.navbar-brand {
  margin: 0rem;
  padding: 0rem;
}

.navbar {
  background: url(https://deananddennys.com/contenidos/1611864432.jpg);
  background-position: center top;
}

.navbar-toggler {
  border: none;
}

.navbar-nav {
  padding: .625rem 0rem;
}